<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUkKinHZcgTXsqqAamM5xNGc-uIMJHY_s</string>
	<key>GCM_SENDER_ID</key>
	<string>979924780899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luucassoares.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-swiftui-2c6d9</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-swiftui-2c6d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979924780899:ios:168c1f4f7fcf2454623556</string>
</dict>
</plist>